# Xcode
*.xcworkspace
!default.xcworkspace
xcuserdata/
*.xcuserstate
*.xccheckout
*.xcscmblueprint

# Xcode build
build/
DerivedData/

# SwiftPM
.build/
Packages/
.swiftpm/xcode/package.xcworkspace/

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/
Carthage/Checkouts
Carthage/Build

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Archives & Logs
*.xcarchive
*.ipa
*.dSYM.zip
*.dSYM
*.log

# Simulator logs & data
coreSimulatorDevices/

# SwiftLint
.swiftlint.yml
.swiftlint.tmp

# Misc
*.orig
*.DS_Store
*.env
*.hmap
*.swp
*.swo

